.about {
    /* position: relative; */
    margin: 120px auto;
    /* overflow: hidden; */
    width: 1400px;
    /* height: 1500px; */
    background-color: transparent;
    font-family: 'Times New Roman', 'Courier New', Courier, monospace;
    z-index: 2;
}

.presentation {
    overflow: hidden;
    position: relative;
    top: 0;
    border-radius: 20px;
    left: 350px;
    width: 700px;
    height: 300px;
    background-color: #FFF;
    background: url(../images/1.jpg) no-repeat;
    background-size: cover;
    z-index: 2;
    transform: scale(0, 0, 0);
    animation: begin 1s forwards;
    -webkit-transform: scale3d(0, 0, 0);
    margin-bottom: 50px;
}

.presentation:hover {
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    transition: all .5s;
    left: 345px;
    top: -5px;
    width: 710px;
    height: 310px;
    margin-bottom: 40px;
}

.presentation > h2 {
    font-size: 2em;
    color: #000;
    overflow: hidden;
    height: 50px;
    text-align: center;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* float: right; */
    margin: 50px auto;
    line-height: 50px;
}

.presentation > .warp {
    /* margin-top: 80px; */
    text-align: center;
    overflow: hidden;
    position: relative;
    top: 0;
}

.warp > .h1 {
    width: 0;
    font-size: 2em;
    color: #000;
    display: inline-block;
    margin-top: 80px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    /* display: inline-block; */
    animation: content-slide-in 1.5s 0.3s steps(8) forwards;			
}

.warp > .h2 {
    width: 0;
    font-size: 2em;
    color: #000;
    display: inline-block;
    margin-top: 40px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    /* display: inline-block; */
    animation: content-slide-in2 2s 2s steps(10) forwards;
				
}

.warp > .ha {
    display: inline-block;
    content: '';
    position: absolute;
    bottom: 10px;
    width: 20px;
    height: 50px;
    animation: sprinkle-bling 0.8s steps(2) infinite;
}

.presentation > img {
    text-align: center;
    width: 100%;
    /* height: 100%; */
}

.main {
    /* margin-bottom: 5px; */
    color: #FFF;
    position: relative;
    /* top: 300px; */
    width: 1400px;
    height: 200px;
    /* background-color: orange; */
    /* margin-top: 10px; */
}

.toppole {
    position: absolute;
    top: 0;
    left: 700px;
    height: 100px;
    border-left: 3px solid #EEE;
    background-color: #EEE;
}

.time {
    color: #000;
    position: absolute;
    top: 45%;
    left: 625px;
    line-height: 50px;
    width: 150px;
    height: 50px;
    text-align: center;
    background-color: #EEE;
    border-radius: 5px;
}

.timeright:hover {
    transition: all 1s;
    transform: skew(10deg, -10deg);
}

.timeleft:hover {
    transition: all 0.5s;
    transform: skew(-10deg, 10deg);
}

.text {
    top: 0px;
    position: absolute;
    width: 400px;
    height: 200px;
    background-color: #EEE;
    border-radius: 20px;
    background: url(../images/1.jpg) no-repeat;
    background-size: cover;
    transition: all .5s;
    transform: scale(0, 0, 0);
    animation: begin 1s forwards;
    -webkit-transform: scale3d(0, 0, 0);
}

.left:hover {
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    width: 410px;
    height: 210px;
    left: 145px;
    top: -5px;
    transition: all .5s;
}

.right:hover {
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    width: 410px;
    height: 210px;
    right: 145px;
    top: -5px;
    transition: all .5s;
}

.text > h2 {
    font: 1.5em;
    color: #000;
    margin: 50px;
}

.left {
    left: 150px;
}

.right {
    right: 150px;
}

.botpole {
    position: absolute;
    bottom: 0;
    left: 700px;
    height: 100px;
    border-left: 3px solid #EEE;
    background-color: #EEE;
}

@keyframes content-slide-in {
    from {
        width: 0;
    }
    to {
        width: 325px;
    }
}
@keyframes content-slide-in2 {
    from {
        width: 0;
    }
    to {
        width: 410px;
    }
}
@keyframes sprinkle-bling {
    from {
        border-bottom: 2px solid transparent;
    }
    to {
        border-bottom: 2px solid #000;
    }
}


@keyframes begin {
    form {
        transform: scale3d(0,0,0);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}