.shell{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(243, 230, 241); */
    width: 1400px;
    height: 90vh;
    display: flex;
    margin: auto auto;
    /* padding: 0 0px; */
    /* transition: all .5s; */
    transform: scaleY(0);
    animation: begin .5s ease-out .5s forwards;
}

.box{
    height: 85%;
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: auto 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .5);
    border-radius: 45px;
    border: 5px solid #eee;
    background-color: #fff;
    transform: scaleY(0);
    animation: begin .5s ease-out .5s forwards;
    }

.box > img{
    width: 200%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.hoverbox{
    flex-basis: 60%;
}

.hoverimg{
    width: 100% !important;
    height: 100% !important;
}

@keyframes begin {
    from {
        /* height: 0%; */
        transform: scaleY(0);
    }
    to {
        /* height: 85%; */
        transform: scaleY(1);
    }
}